.container-box-login-daftar {
    flex-direction: row-reverse;
}

.judul-login-daftar h1 {
    font-size: 25px;
}

.judul-login-daftar p {
    font-size: 15px;
}

.form-login form {
    gap: 5px;
    padding: 10px 0;
}

.container-form {
    width: 40%;
    padding: 10px 0;
    height: 480px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

.gambar-login-daftar {
    height: 480px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


@media screen and (min-width: 1500px) {
    .judul-login-daftar h1 {
        font-size: 40px;
    }
    .judul-login-daftar p {
        font-size: 30px;
    }
    .container-form {
        width: 100%;
        height: 600px;
        gap: 10px;
    }
    .form-login .login {
        margin-top: 10px;
        gap: 10px;
    }

    .login-with {
        margin-top: 10px;
    }
    .gambar-login-daftar {
        height: 600px;
    }

    .google img, .facebook img {
        width: 30px;
    }

    .email .input-email input, .password .input-password input {
        height: 50px;
    }

}

@media screen and (max-width: 900px) {
    .container-login-daftar {
        width: 100%;
    }
    .container-box-login-daftar {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .container-form {
        width: 90%;
        border-radius: 20px;
        max-width: 400px;
    }
    .gambar-login-daftar {
        display: none;
    }
}