* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    /* max-width: 1280px; */
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url(../aset/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

.container-nav {
    /* max-width: 1280px; */
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 100;
    background-color: white;
}

nav {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.image-logo img {
    width: 200px;
    margin-left: -15px;
}

i.fa-bars {
    display: none;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: 17px;
    text-decoration: none;
    color: #FF5857;
    font-weight: 400;
    
}

nav ul li:nth-child(7) a{
    display: block;
    width: 100px;
    padding: 7px 0;
    text-align: center;
    border-radius: 20px;
    color: whitesmoke;
    background-color: #FF5857;
}

nav ul li a:hover {
    color: #ba3939;
}

nav ul li:nth-child(7) a:hover {
    background-color: #ba3939;
    color: antiquewhite;
}

.box {
    margin-top: 70px;
    width: 95%;
    /* max-width: 1280px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    color: whitesmoke;
    text-align: center;
}

.box h1:nth-child(1){
    margin: 10px;
    font-size: 60px;
}

.box h1:nth-child(2){
    font-size: 30px;
    font-family: 'Merienda', cursive;
}

.box a {
    font-weight: bold;
    color: whitesmoke;
    background-color: #FF5857;
    width: 200px;
    padding: 12px 0;
    display: block;
    text-decoration: none;
    margin: 50px auto;
    border-radius: 20px;
    font-size: medium;
}

.box a:hover {
    background-color: #ff6d6d;
}
.box a i {
    margin: 0 5px;
}


article {
    width: 95%;
    margin: 50px auto;
    /* max-width: 1280px; */
}

article h1.jadwal {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #FF5857;
}

.garis {
    margin: 5px auto;
    width: 120px;
    height: 1.5px;
    background-color: #FF5857;
    margin-bottom: 30px;
}

.box-kegiatan {
    width: 100%;
    /* max-width: 1280px; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    /* border: 1px solid red; */
}

.item-kegiatan {
    width: 310px;
    background-color: rgb(254, 254, 254);
    box-shadow: 0px 0px 2px black;
    border-radius: 5px;
    margin: 0 auto;
}

.box-kegiatan .image-kegiatan {
    width: 100%;
}

.box-kegiatan .image-kegiatan img {
    width: 100%;
    height: 250px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.keteragan-kegiatan {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    color: #2F2F2F;
}

.box-judul-lokasi-waktu {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.keteragan-kegiatan .judul-kegiatan h2 {
    cursor: pointer;
    font-size: 17px;
    display: flex;
    margin: 3px 0;
    align-items: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #FF5857;
    font-weight: 500;
}

.keteragan-kegiatan .judul-kegiatan h2:hover {
    text-decoration: underline;
}

.lokasi-waktu-kegiatan .lokasi, .lokasi-waktu-kegiatan .pukul, .lokasi-waktu-kegiatan .tanggal  {
    display: flex;
    margin: 5px 0;
}

.tanggal p{
    text-align: right;
    width: 100%;
    margin: 10px 5px;
    font-weight: 500;
}

.lokasi-waktu-kegiatan .deskripsi p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
}

.lokasi-waktu-kegiatan .deskripsi p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
}

.item-kegiatan .btn-jadwalkan {
    padding: 0 5px 10px 5px;
}

.item-kegiatan .btn-jadwalkan button {
    width: 100%;
    height: 35px;
    padding: 5px;
    color: whitesmoke;
    background-color: #FF5857;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}

.item-kegiatan .btn-jadwalkan button:hover {
    background-color: #ff6d6d;
}

.btnSelengkapnya {
    text-align: center;
    margin-top: 30px;
}

.btnSelengkapnya button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    color: #2F2F2F;
}

.btnSelengkapnya button:hover {
    color: #505050;
}


.container-galeri {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 50px auto;
    margin-bottom: 0;
    background-color: #2E2E2E;
    color: whitesmoke;
}

.container-galeri h1.judulGaleri {
    text-align: center;
    font-size: 25px;
}

.container-galeri p {
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

.container-galeri .garis {
    background-color: white;
    margin-bottom: 10px;
}

.box-galeri {
    width: 95%;
    margin: 30px auto;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    padding: 10px;
    flex-wrap: wrap;
}

.box-galeri .galeri {
    width: 100%;
    cursor: pointer;
}

.box-galeri .galeri:hover {
    transform: scale(1.02);
}

.box-galeri .galeri img {
    width: 100%;
}

.container-tentangKami {
    background-color: #2E2E2E;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 50px;
}

.container-tentangKami .garis {
    background-color: white;
    margin-bottom: 10px;
}

h1.judulTentangKami {
    font-size: 25px;
}

.tentang-kami {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tentang-kami p {
    font-family: 'Bad Script', cursive;
    font-weight: 400;
    font-size: large;
}


footer {
    width: 100%;
    background-color: white;
    /* border-top: 1px solid whitesmoke; */
}

.footer {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px;
}

footer .logo-footer img {
    width: 300px;
}

footer .list-menu-footer ul {
    display: flex;
    gap: 20px;
}

footer .list-menu-footer ul li {
    list-style: none;
}

footer .list-menu-footer li a {
    color: #2E2E2E;
    text-decoration: none;
}