.about {
    display: flex;
    padding-top: 50px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc-about {
    padding: 100px 20px 0 20px;
    width: 100%;
}

.desc-about h1 {
    font-size: 40px;
    font-weight: 800;
}

.desc-about p {
    font-size: 20px;
}

.desc-picture img {
    width: 100%;
    padding-right: 20px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

h1.judulTentangKami {
    text-align: center;
    margin: 20px 0 0 0;
}

.tentang-kami {
    text-align: center;
    gap: 10px;
}

.profile {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 100px;
}

.team {
    margin-top: 100px;
}

.team .team-title h1 {
    text-align: center;
    margin-bottom: 70px;
}