.container-nav {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 100;
    background-color: #F8F9FA;
}

.image-logo img {
    width: 150px;
    margin-left: -15px;
    padding: 5px 0;
}

i.fa-bars {
    display: none;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #FF5857;
    font-weight: 500;
    margin: 0;
}


.navbar ul li.login a{
    display: block;
    padding: 7px 25px;
    border-radius: 20px;
    color: #FFFFFF;
    background-color: #FF5857;
}
nav ul .login a:hover {
    background-color: #ba3939;
    color: antiquewhite;
    transition: all ease 0.5s;
}

.navbar ul li a:hover {
    color: #ba3939;
    transition: all ease 0.5s;

}

.navbar ul li.login a:hover {
    background-color: #ff6d6d;
    color: #2E2E2E;
}


.container-detail {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: max-content;
    background-color: #f4f4f4;
}

.detail {
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    gap: 30px;
    position: relative;
}

.detail img {
    background-position: center;
    background-size: cover;
    width: 100%;
    min-width: 420px;
    min-height: 300px;
    max-width: 600px;
    max-height: 400px;
    border-radius: 10px;
}

.judul-kegiatan h2 {
    font-weight: 700;
    font-size: 23px;
    color: #2e2e2e;
}

.detail p {
    text-align: justify;
    font-size: 14px;
}

.lokasi-kegiatan p,.tanggal-kegiatan p, .pukul-kegiatan p{
    font-weight: 600;
    text-align: left;
}

.btnTandai {
    width: 100%;
    text-align: right;
}

.btnTandai button {
    width: 150px;
    background-color: #ff5353;
    height: 35px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    transition: all ease-in-out .25s;
    font-weight: 500;
}

.btnTandai button:hover {
    background-color: rgb(214, 70, 70);
    color: black;
}

header {
    height: max-content;
    background-image: none;
}

footer {
    width: 100%;
    background-color: #FFFFFF;
}

.footer {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px;
}

footer {
    border: 1px solid #F8F9FA;
}

footer img.logo {
    width: 200px;
    margin: 0 0 -10px -21px;
}

.text-reset {
    margin: 0;
}