header.header {
    height: max-content;
}

.container-my-project {
    background-color: #FFFFFF;
}

.container-galeri {
    width: 95%;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 30px;
    position: relative;
}

.galeri-box1 {
    margin: 0 auto;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.gambar-galeri {
    width: 40%;
    max-width: 500px;
}

.gambar-galeri img {
    width: 100%;
    border-radius: 20px;
}

.keterangan-galeri {
    width: 50%;
    color: #2e2e2e;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.keterangan-galeri h1 {
    font-size: 30px;
    font-weight: bold;
}

.keterangan-galeri p {
    font-size: 18px;
    text-align: justify;
}

.galeri-box2 {
    width: 100%;
    height: max-content;
    padding: 30px 0;
}

.judul-galeri {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C31815;
    border-radius: 10px;
}

.judul-galeri h2 {
  color: #FFFFFF;
  font-size: 17px;
  margin: 0;
}

.tambah-galeri {
    margin: 10px auto;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row-reverse;
}

.tambah-galeri a {
    font-size: 20px;
    cursor: pointer;
    color: #2e2e2e;
    text-decoration: none;
}

.tambah-galeri a:hover {
    text-decoration: underline;
}

.tambah-galeri a i {
    margin-right: 5px;
    font-size: 23px;
}

.container-item-galeri {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    gap: 5px;
}

.item-galeri img {
    object-fit: cover;
    width: 100%;
    height: 190px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

.item-galeri img:hover{
    transform: scale(1.02);
}


@media screen and (max-width: 1200px){
    .container-item-galeri {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1000px){
    .gambar-galeri {
        width: 60%;
    }
    .keterangan-galeri h1 {
        font-size: 20px;
        font-weight: bold;
    }
    
    .keterangan-galeri p {
        font-size: 15px;
        text-align: justify;
    }

    .modal-box-galeri {
        flex-direction: column;
    }
    .gambar-modal-box {
        width: 100%;
    }
    
    .keterangan-modal-box {
        width: 100%;
    }
}

@media screen and (max-width: 700px){
    .galeri-box1 {
        flex-direction: column;
    }

    .gambar-galeri {
        width: 100%;
        max-width: 600px;
    }

    .keterangan-galeri {
        width: 100%;
    }
    .container-item-galeri {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 500px){
    .container-item-galeri {
        grid-template-columns: repeat(2, 1fr);
    }
    .keterangan-modal-box p.tanggal-modal-box {
        margin-bottom: 50px;
    }
    .modal-box-aktif{
        width: 100%;
    }
}