header.header {
    height: max-content;
}

.container-my-project {
    background-color: #FFFFFF;
}

.container-galeri {
    width: 95%;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 30px;
    position: relative;
}

.galeri-box1 {
    margin: 0 auto;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

}

.gambar-galeri {
    width: 40%;
    max-width: 500px;
}

.gambar-galeri img {
    width: 100%;
    border-radius: 20px;
}

.keterangan-galeri {
    width: 50%;
    color: #2e2e2e;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.keterangan-galeri h1 {
    font-size: 30px;
    font-weight: bold;
}

.keterangan-galeri p {
    font-size: 18px;
    text-align: justify;
}

.galeri-box2 {
    width: 100%;
    height: max-content;
    padding: 30px 0;
}

.judul-galeri {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C31815;
    border-radius: 10px;
}

.judul-galeri h2 {
  color: #FFFFFF;
  font-size: 17px;
}

.tambah-galeri {
    margin: 10px auto;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row-reverse;
}

.tambah-galeri a {
    font-size: 20px;
    cursor: pointer;
    color: #2e2e2e;
    text-decoration: none;
}

.tambah-galeri a:hover {
    text-decoration: underline;
}

.tambah-galeri a i {
    margin-right: 5px;
    font-size: 23px;
}

.container-item-galeri {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    gap: 5px;
}

.item-galeri img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.item-galeri img:hover{
    transform: scale(1.02);
}


.container-modal-box-galeri {
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30px;
    scale: 0;
}

.container-modal-box-galeri-aktif {
    scale: 1;
}

.modal-box-galeri {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 7px black;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    transform: scale(0);
}

.modal-box-aktif{
    width: 80%;
    max-width: 1280px;
    height: max-content;
    padding: 10px;
    transform: scale(1);
    transition: all ease-in-out .25s;
}

.gambar-modal-box {
    width: 50%;
}

.gambar-modal-box img {
    width: 100%;
    border-radius: 10px;
}

.keterangan-modal-box {
    width: 50%;
}

.keterangan-modal-box h1 {
    font-size: 20px;
}

.keterangan-modal-box h1 span {
    width: 100px;
}

.keterangan-modal-box .pecipta-karya {
    display: flex;
    gap: 10px;
}

.keterangan-modal-box button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 150px;
    height: 35px;
    background-color: #f14f4f;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    transition: all ease-in-out .25s;
}

.keterangan-modal-box button:hover {
    background-color: #f55d5d;
    color: #2e2e2e;
}








@media screen and (max-width: 1200px){
    .container-item-galeri {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1000px){
    .gambar-galeri {
        width: 60%;
    }
    .keterangan-galeri h1 {
        font-size: 20px;
        font-weight: bold;
    }
    
    .keterangan-galeri p {
        font-size: 15px;
        text-align: justify;
    }

    .modal-box-galeri {
        flex-direction: column;
    }
    .gambar-modal-box {
        width: 100%;
    }
    
    .keterangan-modal-box {
        width: 100%;
    }
}

@media screen and (max-width: 700px){
    .galeri-box1 {
        flex-direction: column;
    }

    .gambar-galeri {
        width: 100%;
        max-width: 600px;
    }

    .keterangan-galeri {
        width: 100%;
    }
    .container-item-galeri {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 500px){
    .container-item-galeri {
        grid-template-columns: repeat(2, 1fr);
    }
    .keterangan-modal-box p.tanggal-modal-box {
        margin-bottom: 50px;
    }
    .modal-box-aktif{
        width: 100%;
    }
}