@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400;1,500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container-login-daftar {
    width: 100%;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-box-login-daftar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
}

.container-form {
    width: 40%;
    padding: 30px 0;
    height: max-content;
    background-color: #F8F9FA;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.judul-login-daftar {
    text-align: center;
    line-height: 20px;
}

.judul-login-daftar h1 {
    font-weight: 700;
    font-size: 30px;
    color: #2E2E2E;
}

.judul-login-daftar p {
    font-weight: bold;
    font-size: 20px;
    color: #2E2E2E;
}

.form-login form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.email, .password{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-email, .input-password {
    width: 80%;
}

.email .input-email input, .password .input-password input {
    width: 100%;
    padding: 0 0 0 50px;
    background-color: #FFFFFF;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: 1px solid gray;
}

.email .input-email input:focus, .password .input-password input:focus {
    box-shadow: 0 0 10px #5dd1ff;
    outline: 2px solid #5dd1ff;
}

.input-email, .input-password{
    position: relative;
}

.simbol-email, .simbol-password {
    display: flex;
    height: 100%;
    padding: 0 15px;
    align-items: center;
    position: absolute;
    top: 0;
    font-size: 19px;
}

.form-login .login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: max-content;
    padding: 5px 0;
}

.form-login .login p {
    margin: 0;
}

.form-login .login button {
    width: 30%;
    height: 35px;
    background-color: #FF5857;
    border: none;
    outline: none;
    color: #FFFFFF;
    border-radius: 20px;
    transition: all ease-in-out .25s;
}

.form-login .login button:hover {
    background-color: #ff5353;
    color: #2E2E2E;
}

.login-with {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 0;
}

.login-with p a {
    color: #2E2E2E;
    text-decoration: none;
    cursor: default;
}

.login-with p a span {
    font-weight: 600;
}

.google, .facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    height: max-content;
    width: max-content;
    margin: 0 auto;
    gap: 5px;
    transition: all ease-in-out .25s;
    width: 300px;
}

/* .google:hover, .facebook:hover {
    background-color: #eaeaea;
} */

.google img, .facebook img {
    width: 20px;
}

.gambar-login-daftar {
    width: 40%;
    height: 432px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    background-color: #ff5353;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

.container-gambar-login-daftar .box-1 img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
}