@media screen and (min-width: 1500px) {
    .navbar ul li a {
        font-size: 18px;
    }
    .box a {
        font-size: 18px;
        width: 250px;
    }
    .keteragan-kegiatan .judul-kegiatan h2 {
        font-size: 18px;
    }
    .deskripsi p {
        font-size: 16px;
    }
    .tanggal p{
        font-size: 15px;
        font-weight: 500;
    }
    .container-galeri p {
        font-size: 18px;
    }
    footer, footer h6 {
        font-size: 18px;
    }
}

@media screen and (max-width: 1500px) {
    .box-kegiatan {
        grid-template-columns: repeat(4, 1fr);
    }
    .navbar ul li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 1450px) {
    .card-profile .about-profile .detail-profile {
        transform: translateY(20px);
    }
}
@media screen and (max-width: 1430px) {
    .card-profile .about-profile .detail-profile p{
        margin: 0;
    }
}

@media screen and (max-width: 1340px) {
    .login-section {
        margin-left: 100px;
    }

    .daftar-section {
        margin-right: 50px;
    }
}

@media screen and (max-width: 1280px){
    .navbar ul li a {
        font-weight: 400;
    }
}

@media screen and (max-width: 1270px){
    .box-kegiatan {
        grid-template-columns: repeat(4, 1fr);
    }
    
}
@media screen and (max-width: 1250px) {
    .box-galeri {
        grid-template-columns: repeat(4, 1fr);
    } 
}

@media screen and (max-width: 1200px){
    .box-kegiatan {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1100px){
    .image-logo img {
        margin-left: 2px;
    }
    i.fa-bars {
        display: block;
        margin-right: 20px;
        font-size: 30px;
    }
    .navbar {
        width: 100%;
    }
    .navbar ul {
        position: absolute;
        width: 100%;
        flex-direction: column;
        top: 73px;
        background-color: #FFFFFF;
        padding: 30px 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: all ease-in-out .5s;
    }

    .navbar ul.active {
        transform: scaleY(1);
    }
    .navbar ul li {
        width: 95%;
    }

    .navbar ul li a {
        border-bottom: 1px solid #FF5857;
        width: 100%;
        display: block;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .navbar ul li.login, .navbar ul li.login a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
    }
    .li-user a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }
    .li-user a i {
        margin-right: 5px;
    }

    .li-user a p {
        max-width: 200px;
    }
    .daftar-card {
        padding: 20px;
        border: 1px solid transparent;
        border-radius: 10px;
        border-top-color: rgba(225, 225, 225, 0.5);
        border-left-color: rgba(225, 225, 225, 0.5);
        border-bottom-color: rgba(225, 225, 225, 0.5);
        border-right-color: rgba(225, 225, 225, 0.5);
        background-color: rgba(225, 225, 225, 0.7);
    }

    .about {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: min-content;
        text-align: center;
        background-image: url(../../src/public/aset/about/3d-render.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .desc-about h1 {
        color: #2e2e2e;
    }

    .desc-picture img {
        width: 100%;
        object-fit: cover;
        display: none;
    }

    .desc-about {
        height: 387px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        backdrop-filter: blur(.1rem);
        background-color: rgba(225, 225, 225, 0.7);
    }

}

@media screen and (max-width: 400px) {
    .desc-about {
        padding: 50px 20px 0 20px;
        width: 100%;
    }
}

@media screen and (max-width: 850px){
    .box-kegiatan {
        grid-template-columns: repeat(2, 1fr);
    }
    .item-kegiatan {
        width: 100%;
        max-width: none;
    }
}


@media screen and (max-width: 800px) {
    .box-galeri {
        grid-template-columns: repeat(3, 1fr);
    } 
}

@media screen and (max-width: 600px) {
    .box-galeri {
        grid-template-columns: repeat(2, 1fr);
    } 
}

@media screen and (max-width: 580px){
    .box-kegiatan {
        grid-template-columns: repeat(1, 1fr);
    }
    .item-kegiatan {
        width: 100%;
    }
    .box-kegiatan .image-kegiatan img {
        height: 350px;
    }
    article {
        width: 80%;
    }
}

@media screen and (max-width: 520px){
    article {
        width: 90%;
    }
}

@media screen and (max-width: 500px){
    .box h1:nth-child(1){
        font-size: 40px;
    }
    
    .box h1:nth-child(2){
        font-size: 20px;
    }
}

/* Responsif Login - Daftar */

@media screen and (min-width: 1500px) {
    .judul-login-daftar h1 {
        font-size: 40px;
    }
    
    .judul-login-daftar p {
        font-size: 30px;
    }
    .container-login-daftar {
        width: 100%;
    }
    .container-form {
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .form-login .login {
        gap: 20px;
        font-size: 20px;
    }

    .login-with {
        margin-top: 20px;
    }
    .gambar-login-daftar {
        width: 100%;
        height: 600px;
    }

    .google img, .facebook img {
        width: 30px;
    }

    .email .input-email input, .password .input-password input {
        height: 50px;
        font-size: 20px;
    }

    .form-login .login button {
        height: 44px;
        font-size: 20px;
    }
    .login-with p a {
        font-size: 20px;
    }
}

@media screen and (max-width: 900px) {
    .container-form#form-daftar {
        padding: 10px 0;
        height: 480px;
        border-radius: 20px;
    }
    .container-login-daftar {
        width: 100%;
        height: 100vh;
        background-color: #ff5857;
    }
    .container-box-login-daftar {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .container-form {
        width: 90%;
        border-radius: 20px;
        max-width: 400px;
    }
    .gambar-login-daftar {
        display: none;
    }
}

/* Responsif Detail */

@media screen and (max-width: 1000px) {
    .detail img {
        width: 100%;
    }

    .detail {
        flex-direction: column;
    }

    .gambar-kegiatan {
        width: 80%;
    }

    .gambar-kegiatan img {
        width: 100%;
        min-width: 0;
        min-height: 0;
    }
}

@media screen and (max-width: 600px) {
    .gambar-kegiatan {
        width: 100%;
    }
}


/* Responsif Artikel */

@media screen and (min-width: 1300px) {
    .item-artikel {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}
@media screen and (max-width: 1000px) {
    .item-artikel {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .keterangan-lain {
        flex-direction: column;
        gap: 0;
    }
    .keterangan-lain p {
        margin: 3px 0;
    }

    .keterangan-lain p span {
        margin: 0 3px 0 0;
    }
    .keterangan-lain p span:nth-child(2) {
        margin: 0 3px;
    }

    .box-item-artikel {
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 550px) {
    .item-artikel {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .keterangan-lain {
        flex-direction: row;
        gap: 10px;
    }

}

@media screen and (max-width: 1000px) {
    .gambar-hero-artikel {
        width: 100%
    }

    .keterangan-hero {
        width: 100%;
    }

    .judul-hero-artikel h1 {
        font-size: 25px;
    }

    .keterangan-hero-artikel p {
        font-size: 15px;
    }  
}

@media screen and (max-width: 800px) {
    .judul-hero-artikel h1 {
        font-size: 20px;
    }

    .keterangan-hero-artikel p {
        font-size: 14px;
    }  
}

@media screen and (max-width: 600px) {
    .container-artikel {
        width: 100%;
    }
    .box-1-artikel {
        flex-direction: column;
        gap: 0; 
    }

    .keterangan-hero {
        gap: 0;
    }
    .judul-hero-artikel h1 {
        margin: 10px 0 5px 0;
    }

    .keterangan-hero-artikel p {
        text-align: justify;
    }

    .box-2-artikel .box-2-1-artikel {
        display: none;
    }

    .box-2-artikel .box-2-2-artikel p::before {
        content: "Berita ";
    }

}
